		.board {
		    width: 800px;
		    height: 800px;
		    background-image: url('../images/board2.jpg');
		    position: relative;
		    left: 0;
		    right: 0;
		    top: 0;
		    bottom: 0;
		    margin: auto;
		}
		
		.boardTable td {
		    width: 143px;
		    height: 131px;
		}

		.player1
		{
			width:30px;
			height:30px;
			border-radius: 50px;
			background-color: red;
			position: absolute;
			box-shadow: 1px 2px 2px black;

		}
		.player2
		{
			width:30px;
			height:30px;
			border-radius: 50px;
			background-color: blue;
			position: absolute;
			margin-left: 30px;
			box-shadow: 1px 2px 2px black;
			
		}
		.mech
		{
			position: absolute;
			bottom: 0;

		}
		

            